<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      style="height: 100%"
    >
      <ion-col size-lg="4" size-md="6" size-sm="8" size-xs="10">
        <ion-card *ngIf="(authService.user$ | async) as user">
          <ion-card-header>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  *ngIf="user.photoURL"
                  [src]="user.photoURL"
                  alt="User Photo"
                  style="width: 50px; height: 50px; border-radius: 50%"
                />
              </ion-thumbnail>
              <ion-text>
                <h6>{{ user.displayName | titlecase }}</h6>
                <p>{{ user.email }}</p>
                <small>UID : {{ user.uid }}</small>
              </ion-text>
            </ion-item>
          </ion-card-header>
        </ion-card>
        <ion-button
          *ngIf="!(authService.user$ | async); else loggedIn"
          (click)="loginWithGoogle()"
          color="danger"
          expand="block"
          class="ion-margin-top"
        >
          <ion-icon name="logo-google" class="ion-margin-end"></ion-icon> Google
          Login
        </ion-button>
        <ng-template #loggedIn>
          <ion-button
            (click)="logout()"
            color="danger"
            expand="block"
            class="ion-margin-top"
          >
            <ion-icon name="logo-google" class="ion-margin-end"></ion-icon>
            Logout
          </ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="login-logo">
    <img src="assets/img/appicon.svg" alt="Ionic logo">
  </div>

  <div class="login-form">
    <form #loginForm="ngForm" novalidate>
      <ion-input
        label="Username"
        labelPlacement="stacked"
        fill="solid"
        [(ngModel)]="login.username"
        name="username"
        type="text"
        #username="ngModel"
        spellcheck="false"
        autocapitalize="off"
        errorText="Username is required"
        required>
      </ion-input>

      <ion-input
        label="Password"
        labelPlacement="stacked"
        fill="solid"
        [(ngModel)]="login.password"
        name="password"
        type="password"
        #password="ngModel"
        errorText="Password is required"
        required>
      </ion-input>

      <ion-row>
        <ion-col>
          <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div> -->
</ion-content>
